@use '../../../../shared/styles/variables' as *;

.layout {
  display: flex;
  min-height: 100vh;
}

.layout-main {
  flex: 1;
  margin-left: 160px;
  display: flex;
  flex-direction: column;
}

.layout-content {
  flex: 1;
  padding: $spacing-xl;
  margin-top: $header-height;
  min-height: calc(100vh - #{$header-height});
  background: $maya-off-white;
}
